.Container {
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 7px;
    box-shadow:  0 4px 34px rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 80px;
       width: 90%;          /* plutôt qu’implicite */
    max-width: 1200px;   /* limite maximale pour grand écran */
    margin: 50px auto;
}

.Container p {
    font-family: "Libre Baskerville", serif;
    font-size: 16px;
}